{% trans_default_domain 'FOSUserBundle' %}


<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form action="{{ path("fos_user_registration_register") }}" method="post" class="fos_user_registration_register">

                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="_username" required="required" placeholder="Email" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Mot de passe" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="firstname" name="_firstname" required="required" placeholder="Prénom(s)" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="name" name="_name" required="required" placeholder="Nom" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="phone" name="_phone" placeholder="Téléphone fixe" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="cellular" name="_cellular" placeholder="Portable" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="activity" name="_activity" required="required" placeholder="Activité" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="country" name="_country" required="required" placeholder="Pays" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="informations" name="_informations" placeholder="Pourquoi cette demande d'inscription ?" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="website" name="_website" placeholder="Site web" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="facebook" name="_facebook" placeholder="Facebook" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="twitter" name="_twitter" placeholder="Twitter" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="linkedin" name="_linkedin" placeholder="Linkedin" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
