{% extends 'OIFCoreBundle::layout.html.twig' %}

{% block title %}Commission cinéma | {{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}

        <div class="row">
            <div class="col-md-12">
                <h4>Désormais, la soumission de dossiers au Fonds Image de la Francophonie se fait par dépôt de fichiers électroniques sur ce site sécurisé.</h4>
                {# Règlement #}
                {% include 'OIFPlatformBundle:Commission:reglement.html.twig' %}
            </div>
        </div>

        {% if commission is not empty %}
        <a href="{{ path('oif_platform_cinema_add') }}" class="btn btn-success">Ajouter un projet</a>
        {% else %}
            <div class="alert alert-danger">Il n'y a pas de commission audiovisuelle, ouverte présentement !</div>
        {% endif %}

    {% endif %}
{% endblock %}
