<h2>Bonjour {{ user.firstname }} {{ user.name }} !</h2>

<p>
    Vous pouvez réinitialiser votre mot de passe, en cliquant sur ce lien {{ confirmationUrl }}.
    <br>
    Si vous n'êtes pas à l'origine de cette opération, vous pouvez ignorer ce message.
</p>

<blockquote>
    Bonne journée,
    <br>
    Le Fonds Image de la Francophonie
</blockquote>
