<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Le Fonds Image de la Francophonie est mis en œuvre par l'OIF en collaboration avec le CIRTEF (Conseil international des radios et des télévisions d’expression française).Doté d’un million d’euros par an, répartis à parts égales entre deux commissions – « Cinéma – fiction » d’une part et « Documentaires / Séries » d’autre part – dont chacune se réunit deux fois par an, le Fonds soutient la production ou la postproduction de documentaires et d’œuvres de fiction ou d’animation dans les pays francophones à revenus faibles ou intermédiaires (37 pays éligibles, voir liste à la rubrique 3). Ces financements complètent les dispositifs d’aide au développement de projets (aides à l’écriture ou à la réécriture de scénarios, rencontres de coproduction, etc.) que l’OIF soutient ou met en œuvre par ailleurs.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Le Fonds Image de la Francophonie a pour objectifs :
                1.1. la promotion de la création cinématographique et audiovisuelle ;
                1.2. l'émergence et l'épanouissement de jeunes talents ;
                1.3. la professionnalisation et l’autonomisation des structures de production des pays éligibles ;
                1.4. le rayonnement de la production des pays francophones éligibles ;
                1.5. le renforcement de la coopération audiovisuelle francophone par le biais de coproductions et/ou de partenariats techniques.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>